<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"] - Hireo</title>
    
	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="~/css/SignUp.css"/>
    <link rel="stylesheet" href="~/Freelance/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Freelance/css/colors/blue.css" asp-append-version="true" />
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
		<header id="header-container" class="fullwidth">

			<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Left Side Content -->
					<div class="left-side">

						<!-- Logo -->
						<div id="logo">
							<a href="index.html"><img src="@this.Context.Session.GetString("BaseImagesPath")logo.png" alt=""></a>
						</div>

						<!-- Main Navigation -->
						<nav id="navigation">
							<ul id="responsive">

								<li>
									<a href="#" class="current">Home</a>
									<ul class="dropdown-nav">
										<li><a href="index.html">Home 1</a></li>
										<li><a href="index-2.html">Home 2</a></li>
										<li><a href="index-3.html">Home 3</a></li>
									</ul>
								</li>

								<li>
									<a href="#">Find Work</a>
									<ul class="dropdown-nav">
										<li>
											<a href="#">Browse Jobs</a>
											<ul class="dropdown-nav">
												<li><a href="jobs-list-layout-full-page-map.html">Full Page List + Map</a></li>
												<li><a href="jobs-grid-layout-full-page-map.html">Full Page Grid + Map</a></li>
												<li><a href="jobs-grid-layout-full-page.html">Full Page Grid</a></li>
												<li><a href="jobs-list-layout-1.html">List Layout 1</a></li>
												<li><a href="jobs-list-layout-2.html">List Layout 2</a></li>
												<li><a href="jobs-grid-layout.html">Grid Layout</a></li>
											</ul>
										</li>
										<li>
											<a href="#">Browse Tasks</a>
											<ul class="dropdown-nav">
												<li><a href="tasks-list-layout-1.html">List Layout 1</a></li>
												<li><a href="tasks-list-layout-2.html">List Layout 2</a></li>
												<li><a href="tasks-grid-layout.html">Grid Layout</a></li>
												<li><a href="tasks-grid-layout-full-page.html">Full Page Grid</a></li>
											</ul>
										</li>
										<li><a href="browse-companies.html">Browse Companies</a></li>
										<li><a href="single-job-page.html">Job Page</a></li>
										<li><a href="single-task-page.html">Task Page</a></li>
										<li><a href="single-company-profile.html">Company Profile</a></li>
									</ul>
								</li>

								<li>
									<a href="#">For Employers</a>
									<ul class="dropdown-nav">
										<li>
											<a href="#">Find a Freelancer</a>
											<ul class="dropdown-nav">
												<li><a href="freelancers-grid-layout-full-page.html">Full Page Grid</a></li>
												<li><a href="freelancers-grid-layout.html">Grid Layout</a></li>
												<li><a href="freelancers-list-layout-1.html">List Layout 1</a></li>
												<li><a href="freelancers-list-layout-2.html">List Layout 2</a></li>
											</ul>
										</li>
										<li><a href="single-freelancer-profile.html">Freelancer Profile</a></li>
										<li><a href="dashboard-post-a-job.html">Post a Job</a></li>
										<li><a href="dashboard-post-a-task.html">Post a Task</a></li>
									</ul>
								</li>

								<li>
									<a href="#">Dashboard</a>
									<ul class="dropdown-nav">
										<li><a href="dashboard.html">Dashboard</a></li>
										<li><a href="dashboard-messages.html">Messages</a></li>
										<li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
										<li><a href="dashboard-reviews.html">Reviews</a></li>
										<li>
											<a href="dashboard-manage-jobs.html">Jobs</a>
											<ul class="dropdown-nav">
												<li><a href="dashboard-manage-jobs.html">Manage Jobs</a></li>
												<li><a href="dashboard-manage-candidates.html">Manage Candidates</a></li>
												<li><a href="dashboard-post-a-job.html">Post a Job</a></li>
											</ul>
										</li>
										<li>
											<a href="dashboard-manage-tasks.html">Tasks</a>
											<ul class="dropdown-nav">
												<li><a href="dashboard-manage-tasks.html">Manage Tasks</a></li>
												<li><a href="dashboard-manage-bidders.html">Manage Bidders</a></li>
												<li><a href="dashboard-my-active-bids.html">My Active Bids</a></li>
												<li><a href="dashboard-post-a-task.html">Post a Task</a></li>
											</ul>
										</li>
										<li><a href="dashboard-settings.html">Settings</a></li>
									</ul>
								</li>

								<li>
									<a href="#">Pages</a>
									<ul class="dropdown-nav">
										<li>
											<a href="#">Open Street Map</a>
											<ul class="dropdown-nav">
												<li><a href="jobs-list-layout-full-page-map-OpenStreetMap.html">Full Page List + Map</a></li>
												<li><a href="jobs-grid-layout-full-page-map-OpenStreetMap.html">Full Page Grid + Map</a></li>
												<li><a href="single-job-page-OpenStreetMap.html">Job Page</a></li>
												<li><a href="single-company-profile-OpenStreetMap.html">Company Profile</a></li>
												<li><a href="pages-contact-OpenStreetMap.html">Contact</a></li>
												<li><a href="jobs-list-layout-1-OpenStreetMap.html">Location Autocomplete</a></li>
											</ul>
										</li>
										<li><a href="pages-blog.html">Blog</a></li>
										<li><a href="pages-pricing-plans.html">Pricing Plans</a></li>
										<li><a href="pages-checkout-page.html">Checkout Page</a></li>
										<li><a href="pages-invoice-template.html">Invoice Template</a></li>
										<li><a href="pages-user-interface-elements.html">User Interface Elements</a></li>
										<li><a href="pages-icons-cheatsheet.html">Icons Cheatsheet</a></li>
										<li><a href="pages-login.html">Login & Register</a></li>
										<li><a href="pages-404.html">404 Page</a></li>
										<li><a href="pages-contact.html">Contact</a></li>
									</ul>
								</li>

							</ul>
						</nav>
						<div class="clearfix"></div>
						<!-- Main Navigation / End -->

					</div>
					<!-- Left Side Content / End -->
					<!-- Right Side Content / End -->
					<div class="right-side">

						<div class="header-widget">
							<a href="#sign-in-dialog" class="popup-with-zoom-anim log-in-button"><i class="icon-feather-log-in"></i> <span>Log In / Register</span></a>
						</div>

						<!-- Mobile Navigation Button -->
						<span class="mmenu-trigger">
							<button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</button>
						</span>

					</div>
					<!-- Right Side Content / End -->

				</div>
			</div>
			<!-- Header / End -->

		</header>
		<div class="clearfix"></div>
		<!-- Header Container / End -->

		<div class="container-fluid">
			@RenderBody()
		</div>		
			
		<!-- Footer
		================================================== -->
		<div id="footer">

			<!-- Footer Top Section -->
			<div class="footer-top-section">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">

							<!-- Footer Rows Container -->
							<div class="footer-rows-container">

								<!-- Left Side -->
								<div class="footer-rows-left">
									<div class="footer-row">
										<div class="footer-row-inner footer-logo">
											<img src="@this.Context.Session.GetString("BaseImagesPath")logo2.png" alt="">
										</div>
									</div>
								</div>

								<!-- Right Side -->
								<div class="footer-rows-right">

									<!-- Social Icons -->
									<div class="footer-row">
										<div class="footer-row-inner">
											<ul class="footer-social-links">
												<li>
													<a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
														<i class="icon-brand-facebook-f"></i>
													</a>
												</li>
												<li>
													<a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
														<i class="icon-brand-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
														<i class="icon-brand-google-plus-g"></i>
													</a>
												</li>
												<li>
													<a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
														<i class="icon-brand-linkedin-in"></i>
													</a>
												</li>
											</ul>
											<div class="clearfix"></div>
										</div>
									</div>

									<!-- Language Switcher -->
									<div class="footer-row">
										<div class="footer-row-inner">
											<select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
												<option selected>English</option>
												<option>Français</option>
												<option>Español</option>
												<option>Deutsch</option>
											</select>
										</div>
									</div>
								</div>

							</div>
							<!-- Footer Rows Container / End -->
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Top Section / End -->
			<!-- Footer Middle Section -->
			<div class="footer-middle-section">
				<div class="container">
					<div class="row">

						<!-- Links -->
						<div class="col-xl-2 col-lg-2 col-md-3">
							<div class="footer-links">
								<h3>For Candidates</h3>
								<ul>
									<li><a href="#"><span>Browse Jobs</span></a></li>
									<li><a href="#"><span>Add Resume</span></a></li>
									<li><a href="#"><span>Job Alerts</span></a></li>
									<li><a href="#"><span>My Bookmarks</span></a></li>
								</ul>
							</div>
						</div>

						<!-- Links -->
						<div class="col-xl-2 col-lg-2 col-md-3">
							<div class="footer-links">
								<h3>For Employers</h3>
								<ul>
									<li><a href="#"><span>Browse Candidates</span></a></li>
									<li><a href="#"><span>Post a Job</span></a></li>
									<li><a href="#"><span>Post a Task</span></a></li>
									<li><a href="#"><span>Plans & Pricing</span></a></li>
								</ul>
							</div>
						</div>

						<!-- Links -->
						<div class="col-xl-2 col-lg-2 col-md-3">
							<div class="footer-links">
								<h3>Helpful Links</h3>
								<ul>
									<li><a href="#"><span>Contact</span></a></li>
									<li><a href="#"><span>Privacy Policy</span></a></li>
									<li><a href="#"><span>Terms of Use</span></a></li>
								</ul>
							</div>
						</div>

						<!-- Links -->
						<div class="col-xl-2 col-lg-2 col-md-3">
							<div class="footer-links">
								<h3>Account</h3>
								<ul>
									<li><a href="#"><span>Log In</span></a></li>
									<li><a href="#"><span>My Account</span></a></li>
								</ul>
							</div>
						</div>

						<!-- Newsletter -->
						<div class="col-xl-4 col-lg-4 col-md-12">
							<h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
							<p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
							<form action="#" method="get" class="newsletter">
								<input type="text" name="fname" placeholder="Enter your email address">
								<button type="submit"><i class="icon-feather-arrow-right"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Middle Section / End -->
			<!-- Footer Copyrights -->
			<div class="footer-bottom-section">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							© 2019 <strong>Hireo</strong>. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Copyrights / End -->

		</div>

		<!-- Footer / End -->
    </div>

	<!-- Wrapper / End -->

	<!-- Sign In Popup
	================================================== -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

		<!--Tabs -->
		<div class="sign-in-form">

			<ul class="popup-tabs-nav">
				<li><a href="#login">Log In</a></li>
				<li><a href="#register">Register</a></li>
			</ul>

			<div class="popup-tabs-container">

				<!-- Login -->
				<div class="popup-tab-content" id="login">
				
					<!-- Welcome Text -->
					<div class="welcome-text">
						<h3>We're glad to see you again!</h3>
						<span>Don't have an account? <a href="#" class="register-tab">Sign Up!</a></span>
					</div>
					
					<!-- Form -->
					<form method="post" id="login-form">
						<div class="input-with-icon-left">
							<i class="icon-material-baseline-mail-outline"></i>
							<input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Email Address" required/>
						</div>

						<div class="input-with-icon-left">
							<i class="icon-material-outline-lock"></i>
							<input type="password" class="input-text with-border" name="password" id="password" placeholder="Password" required/>
						</div>
						<a href="#" class="forgot-password">Forgot Password?</a>
					</form>
				
					<!-- Button -->
					<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="login-form">Log In <i class="icon-material-outline-arrow-right-alt"></i></button>
				
					<!-- Social Login -->
					<div class="social-login-separator"><span>or</span></div>
					<div class="social-login-buttons">
						<button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Log In via Facebook</button>
						<button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Log In via Google+</button>
					</div>

				</div>

				<!-- Register -->
				<div class="popup-tab-content" id="register">
				
					<!-- Welcome Text -->
					<div class="welcome-text">
						<h3>Let's create your account!</h3>
					</div>
					
					<!-- Form -->
					<form id="register-account-form" action="/Authentication/SignUp" method="post">

						<!-- progressbar -->
						<ul id="progressbar">
							<li class="active">Personal Details</li>
							<li>Address</li>
							<li>Additional Information</li>
						</ul>

						<!-- fieldsets -->
						<fieldset class="row">
							<div class="col-12">
								<!-- Account Type -->
								<div class="account-type">
									<div>
										<input type="radio" name="AccountType" id="freelancer-radio" class="account-type-radio" checked value="1" />
										<label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Freelancer</label>
									</div>

									<div>
										<input type="radio" name="AccountType" id="employer-radio" class="account-type-radio" value="2" />
										<label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
									</div>
								</div>
							</div>
							
							<div class="col-12">
								<div class="input-with-icon-left">
									<i class="icon-material-baseline-mail-outline"></i>
									<input type="email" class="input-text with-border" name="Email" id="emailaddress-register" placeholder="Email Address" required />
								</div>
							</div>
							<div class="col-12">
								<div class="input-with-icon-left">
									<i class="icon-material-outline-account-circle"></i>
									<input type="text" class="input-text with-border" name="FirstName" id="firstName-register" placeholder="First Name" required>
								</div>
							</div>
							<div class="col-12">
								<div class="input-with-icon-left">
									<i class="icon-material-outline-account-circle"></i>
									<input type="text" class="input-text with-border" name="LastName" id="lastName-register" placeholder="Last Name" required>
								</div>
							</div>
							<div class="col-12">
								<div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
									<i class="icon-material-outline-lock"></i>
									<input type="password" class="input-text with-border" name="Password" id="password-register" placeholder="Password" required />
								</div>
							</div>
							<div class="col-12">
								<div class="input-with-icon-left">
									<i class="icon-material-outline-lock"></i>
									<input type="password" class="input-text with-border" name="ConfirmPassword" id="password-repeat-register" placeholder="Confirm Password" required />
								</div>
							</div>
							<div class="col-12">
								<div class="row">
									<div class="col-6">
										<div class="section-headline margin-bottom-12">
											<h5>Gender</h5>
										</div>
										<div class="radio">
											<input id="gender-option-male" name="Gender" type="radio" checked="checked" value="male">
											<label for="gender-option-male"><span class="radio-label"></span> Male</label>
										</div>
										<div class="radio">
											<input id="gender-option-female" name="Gender" type="radio" value="female">
											<label for="gender-option-female"><span class="radio-label"></span> Female</label>
										</div>
										<div class="radio">
											<input id="gender-option-other" name="Gender" type="radio" value="other">
											<label for="gender-option-other"><span class="radio-label"></span> Other</label>
										</div>
									</div>
									<div class="col-6">
										<div class="input-with-icon-right">
											<i class="iicon-material-outline-date-range"></i>
											<input type="date" class="input-date with-border" name="DOB" id="dob-register" placeholder="YYYY/MM/DD" required>
										</div>
									</div>
								</div>
							</div>
							<button type="button" name="next" class="next margin-top-10 button button-sliding-icon ripple-effect">
								Next
								<i class="icon-material-outline-arrow-right-alt"></i>
							</button>
						</fieldset>
						<fieldset class="row">
							<div class="col-12">
								<div class="btn-group bootstrap-select margin-bottom-12 margin-top-12">
									<select class="selectpicker with-border" data-live-search="true" tabindex="-98">
										<option>Country1</option>
										<option>Country1</option>
										<option>Country1</option>
									</select>
								</div>
							</div>
							<div class="col-12">
								<div class="btn-group bootstrap-select margin-bottom-12 margin-top-12">
									<select class="selectpicker" data-live-search="true" tabindex="-98">
										<option>Region1</option>
										<option>Region2</option>
										<option>Region3</option>
									</select>
								</div>
							</div>
							<div class="col-12">
								<div class="btn-group bootstrap-select margin-bottom-12 margin-top-12">
									<select class="selectpicker" data-live-search="true" tabindex="-98">
										<option>City1</option>
										<option>City2</option>
										<option>City3</option>
									</select>
								</div>
							</div>
							<div class="col-12">
								<div class="input-with-icon-left">
									<i class="icon-material-outline-add-location"></i>
									<input type="text" class="input-text with-border" name="AddressInfo" id="addressInfo-register" placeholder="Aditional address information" required />
								</div>
							</div>
							<button type="button" name="next" class="next margin-top-10 button button-sliding-icon ripple-effect">
								Next
								<i class="icon-material-outline-arrow-right-alt"></i>
							</button>
							<button type="button" name="previous" class="previous margin-top-10 button button-sliding-icon ripple-effect">
								Previous
								<i class="icon-feather-arrow-left"></i>
							</button>
						</fieldset>
						<fieldset class="row">
							<div class="input-with-icon-left margin-top-12">
								<i class="icon-line-awesome-phone"></i>
								<input type="tel" class="input-text with-border" name="PhoneNumber" id="phoneNumber-register" placeholder="Phone Number" required />
							</div>
							<div class="input-with-icon-left">
								<i class="icon-brand-linkedin-in"></i>
								<input type="text" class="input-text with-border" name="LinkedInAccount" id="linkedInAccount-register" placeholder="LinkedIn Account" required />
							</div>
							<textarea cols="30" rows="5" name="Description" placeholder="Description" class="with-border"></textarea>
							<button type="button" name="previous" class="previous margin-top-10 button button-sliding-icon ripple-effect">
								Previous
								<i class="icon-feather-arrow-left"></i>
							</button>
							<!-- Button -->
							<button class="margin-top-10 button full-width button-sliding-icon ripple-effect" type="submit" form="register-account-form">Register <i class="icon-material-outline-arrow-right-alt"></i></button>
						</fieldset>
					</form>
					<!-- Social Login -->
					<div id="bottom-register-options">
						<div class="social-login-separator"><span>or</span></div>
						<div class="social-login-buttons">
							<button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via Facebook</button>
							<button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via Google+</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Sign In Popup / End -->

	<!-- Scripts
	================================================== -->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/Freelance/js/jquery-3.6.0.min.js"></script>
	<script src="~/Freelance/js/jquery-migrate-3.3.2.min.js"></script>
	<script src="~/Freelance/js/mmenu.min.js"></script>
	<script src="~/Freelance/js/tippy.all.min.js"></script>
	<script src="~/Freelance/js/simplebar.min.js"></script>
	<script src="~/Freelance/js/bootstrap-slider.min.js"></script>
	<script src="~/Freelance/js/bootstrap-select.min.js"></script>
	<script src="~/Freelance/js/snackbar.js"></script>
	<script src="~/Freelance/js/clipboard.min.js"></script>
	<script src="~/Freelance/js/counterup.min.js"></script>
	<script src="~/Freelance/js/magnific-popup.min.js"></script>
	<script src="~/Freelance/js/slick.min.js"></script>
	<script src="~/Freelance/js/custom.js"></script>

	<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
	<script>
		// Snackbar for user status switcher
		$('#snackbar-user-status label').click(function () {
			Snackbar.show({
				text: 'Your status has been changed!',
				pos: 'bottom-center',
				showAction: false,
				actionText: "Dismiss",
				duration: 3000,
				textColor: '#fff',
				backgroundColor: '#383838'
			});
		});

		// Snackbar for "place a bid" button
		$('#snackbar-place-bid').click(function () {
			Snackbar.show({
				text: 'Your bid has been placed!',
			});
		});


		// Snackbar for copy to clipboard button
		$('.copy-url-button').click(function () {
			Snackbar.show({
				text: 'Copied to clipboard!',
			});
		});
	</script>

	<!-- Leaflet // Docs: https://leafletjs.com/ -->
	<script src="~/Freelance/js/leaflet.min.js"></script>

	<!-- Leaflet Maps Scripts (locations are stored in leaflet-hireo.js) -->
	<script src="~/Freelance/js/leaflet-markercluster.min.js"></script>
	<script src="~/Freelance/js/leaflet-gesture-handling.min.js"></script>
	<script src="~/Freelance/js/leaflet-hireo.js"></script>

	<!-- Leaflet Geocoder + Search Autocomplete // Docs: https://github.com/perliedman/leaflet-control-geocoder -->
	<script src="~/Freelance/js/leaflet-autocomplete.js"></script>
	<script src="~/Freelance/js/leaflet-control-geocoder.js"></script>

	<!-- Google Autocomplete -->
	<script>
		function initAutocomplete() {
			var options = {
				types: ['(cities)'],
				// componentRestrictions: {country: "us"}
			};

			var input = document.getElementById('autocomplete-input');
			var autocomplete = new google.maps.places.Autocomplete(input, options);
		}

		// Autocomplete adjustment for homepage
		if ($('.intro-banner-search-form')[0]) {
			setTimeout(function () {
				$(".pac-container").prependTo(".intro-search-field.with-autocomplete");
			}, 300);
		}

	</script>

	<!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
	<script src="~/Freelance/js/chart.min.js"></script>
	<script>
		Chart.defaults.global.defaultFontFamily = "Nunito";
		Chart.defaults.global.defaultFontColor = '#888';
		Chart.defaults.global.defaultFontSize = '14';

		var ctx = document.getElementById('chart').getContext('2d');

		var chart = new Chart(ctx, {
			type: 'line',

			// The data for our dataset
			data: {
				labels: ["January", "February", "March", "April", "May", "June"],
				// Information about the dataset
				datasets: [{
					label: "Views",
					backgroundColor: 'rgba(42,65,232,0.08)',
					borderColor: '#2a41e8',
					borderWidth: "3",
					data: [196, 132, 215, 362, 210, 252],
					pointRadius: 5,
					pointHoverRadius: 5,
					pointHitRadius: 10,
					pointBackgroundColor: "#fff",
					pointHoverBackgroundColor: "#fff",
					pointBorderWidth: "2",
				}]
			},

			// Configuration options
			options: {

				layout: {
					padding: 10,
				},

				legend: { display: false },
				title: { display: false },

				scales: {
					yAxes: [{
						scaleLabel: {
							display: false
						},
						gridLines: {
							borderDash: [6, 10],
							color: "#d8d8d8",
							lineWidth: 1,
						},
					}],
					xAxes: [{
						scaleLabel: { display: false },
						gridLines: { display: false },
					}],
				},

				tooltips: {
					backgroundColor: '#333',
					titleFontSize: 13,
					titleFontColor: '#fff',
					bodyFontColor: '#fff',
					bodyFontSize: 13,
					displayColors: false,
					xPadding: 10,
					yPadding: 10,
					intersect: false
				}
			},


		});

	</script>


	<!-- Google API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initAutocomplete"></script>

	<!-- Google API & Maps -->
	<!-- Geting an API Key: https://developers.google.com/maps/documentation/javascript/get-api-key -->
	<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places"></script>
	<script src="~/Freelance/js/infobox.min.js"></script>
	<script src="~/Freelance/js/markerclusterer.js"></script>
	<script src="~/Freelance/js/maps.js"></script>

	<!-- SignUp -->
	<script src="~/js/SignUp.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
